In [13]:
'''import yfinance as yf
from datetime import datetime
import pandas as pd

# Define the ticker and date range
ticker = 'dMART.NS'
start_date = '2020-01-01'
end_date = '2024-01-01'
#end_date = datetime.now().strftime('%Y-%m-%d')  # Get today's date

# Download the data
df = yf.download(ticker, start=start_date, end=end_date)
data=pd.DataFrame(df)
print(data.head())
data.to_csv('dmart.csv')
df.dropna()
# Display the data
print(df.tail(15)) '''

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('dmart.csv')

In [15]:
df.shape

(993, 7)

In [16]:
df.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Date,DMART.NS,DMART.NS,DMART.NS,DMART.NS,DMART.NS,DMART.NS
1,01-01-20,1828.5,1828.5,1867,1820,1849.699951,429407
2,02-01-20,1824.199951,1824.199951,1854.849976,1815,1831,459356
3,03-01-20,1843.550049,1843.550049,1853,1827,1827,394268
4,06-01-20,1789.900024,1789.900024,1829,1780,1827,398623

DATA PRE-PROCESSING